/* 카테고리별 추천 광고상품 */

svg image {
    width: 246px;
    height: 56px;

}

header {
    margin: 100px 0px 0px 139px;
}

.title {
    margin: 48px 0px 0px 130px;
}

.title h2 {
    display: inline-block;
}